@import "../../base.css";

body {
  max-height: 100vh;
}

/* PHONE FIRST */
main {
  min-height: 100vh;
}
/* Nav */
#nav-menu {
  margin: 0.5rem 0.5rem 0 auto;
}

nav {
  --scale: 0;

  position: absolute;
  right: 0;
  top: 0;
  min-height: 100vh;
  min-width: 60vw;
  border: 2px solid var(--clr-accent-muted);
  padding: 1rem;

  transform: scaleX(var(--scale));
  transform-origin: right;
  transition: transform 0.1s linear;
}

/* HOVER */
.type-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem 0 0 0;
}

.type-container > button {
  flex-basis: 100%;
  border: 2px solid var(--clr-accent-muted);
  border-radius: 0.3rem;
  color: white;
  padding: 0.5rem 1rem;
}

.type-container > button.active {
  background-color: var(--clr-accent-muted);
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
/* Date */
.form-single {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.confirm-date {
  background-color: var(--clr-accent-muted);
  color: white;
  font-weight: 600;
  padding: 0.3rem 0.5rem;
  margin-top: 0.5rem;
}

.form-single,
.form-single input {
  background-color: var(--clr-accent-muted);
  color: white;
}
.form-single {
  padding: 0.3rem;
}

/* Transaction */
.transactions-container {
  --magic-bottom-number: 0.5rem;

  max-height: 80vh;
  min-width: max(40%, 300px);
  padding-bottom: var(--magic-bottom-number);
  overflow-y: scroll;
}

.transaction {
  border: 2px solid var(--clr-accent-muted);
  margin-top: 0.5rem;
  padding: 0.5rem 0.7rem;
}

.trans-time {
  color: rgba(255, 255, 255, 0.6);
}

.trans-order {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
}

.trans-order > * {
  align-content: center;
}

.trans-order > *:nth-child(3n + 1) {
  justify-self: start;
}

.trans-order > *:nth-child(3n + 2) {
  justify-self: center;
}

.trans-order > *:nth-child(3n + 3) {
  justify-self: right;
}

@media only screen and (min-width: 1000px) {
  .transactions-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.2rem;

    min-width: 100%;
    max-height: auto;
    padding-inline: 1rem;

    overflow-y: clip;
  }
}
