/* INITIALS */
:root {
  /* Why do i have to hardcode colors everywhere, Rajko? */
  --clr-bg-dark: #0B2E1C;
  --clr-accent-muted: #C18A2B;
  --clr-error: #821131;
  --clr-success: #00712D;
  --clr-warning: #ffc300;
  --clr-font: #FFFFFF;
  --shd-dark: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button {
  display: block;
  outline: none;
  border: none;
}
input {
  outline: none;
  border: none;
}

/* utilities */
.font-color {
  color: var(--clr-font);
}
.bg-dark {
  background-color: var(--clr-bg-dark);
}
.bg-accent {
  background-color: var(--clr-accent-muted);
}
.text-center {
  text-align: center;
}
.default-box-shadow {
  box-shadow: var(--shd-dark);
}
.bg-error {
  background-color: var(--clr-error) !important;
}
.bg-warning {
  background-color: var(--clr-warning) !important;
}
.bg-success {
background-color: var(--clr-success) !important;
}
.bg-blur {
  backdrop-filter: blur(7px);
}
.align-items-center {
  align-items: center;
}
.align-items-right {
  align-items: right;
}
.clr-light {
  color: white;
}
.clr-accent {
  color: var(--clr-accent-muted);
}
.clr-dark {
  color: var(--clr-bg-dark);
}

.hidden {
  display: none !important; 
}

/* Util for flash message */
.flash-container {
  min-height: 2vh;
  background-color: transparent;
  color: white;
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: .5rem 1rem;
  border-radius: .2rem;

  display:flex;

  transition: transform .1s linear;
  transform-origin: left;
}

.remove-flash {
  transform: scaleX(0);
}

/* 404 */
.container-404 {
  /* For full with :D, ty Rajko */
  flex: 1;

  min-height: 100vh;
  background-color: var(--clr-bg-dark);
  color: var(--clr-accent-muted);
  place-items: center;
  display: grid;
  place-content: center;
  padding: 0 1rem;
}

.container-404 h1 {
  font-size: 4rem;
}

.container-404 p {
  font-size: 1.5rem;
  text-align: center;
}