/* INITIALS */
:root {
  /* Why do i have to hardcode colors everywhere, Rajko? */
  --clr-bg-dark: #0B2E1C;
  --clr-accent-muted: #C18A2B;
  --clr-error: #821131;
  --clr-success: #00712D;
  --clr-warning: #ffc300;
  --clr-font: #FFFFFF;
  --shd-dark: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button {
  display: block;
  outline: none;
  border: none;
}
input {
  outline: none;
  border: none;
}

/* utilities */
.font-color {
  color: var(--clr-font);
}
.bg-dark {
  background-color: var(--clr-bg-dark);
}
.bg-accent {
  background-color: var(--clr-accent-muted);
}
.text-center {
  text-align: center;
}
.default-box-shadow {
  box-shadow: var(--shd-dark);
}
.bg-error {
  background-color: var(--clr-error);
}
.bg-warning {
  background-color: var(--clr-warning);
}
.bg-success {
  background-color: var(--clr-success);
}
.bg-blur {
  backdrop-filter: blur(7px);
}
.align-items-center {
  align-items: center;
}
.align-items-right {
  align-items: right;
}
