body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

.main-div {
  width: 100vw;
  height: 100vh;
  background-color: #0B2E1C;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  overflow-x: hidden;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10vh;
}

.logo img {
  width: 40vw;
  height: auto;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.newProfile-div {
  width: 100%;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  padding-bottom: 2vh;
  padding-left: 5vw;
}

.input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center; 

}

.input-background {
  width: 90vw;
  max-width: 100%;
  background-color: #C18A2B;
  padding: 2vh 2vw;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.username,
.balance {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  color: #FFFFFF;
  margin-bottom: 1vh;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.newrow {
  width: 100%;
  justify-content: center;
}

#name,
#balance {
  background-color: #B08C3D;
  border: 1px solid rgb(238, 215, 188);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  width: 85vw;
  max-width: 85vw;
  height: 4vh;
  font-size: 1rem;
  color: #FFFFFF;
  outline: none;
  margin-bottom: 2vh;
  text-align: center;
  border-radius: 5px;
}
#name:hover,
#balance:hover {
  background-color: #B08C3D;
  color: #FFFFFF;
  border-color: rgb(238, 215, 188);
}
.button-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.button {
  margin-top: 3vh;
  width: 20vw;
  height: 3vh;
  background-color: #C18A2B;
  border: none;
  border-radius: 7px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  color: #FFFFFF;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}