* {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
}
.main-div {
  width: 100vw;
  height: 100vh;
  background-color: #0B2E1C;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}
.newProfile-div {}