@import "../../base.css";

h1, h2 {
  color: var(--clr-accent-muted);
}

p {
  color: var(--clr-font);
}

main {
  max-width: max(80vw, 1000px);
  flex-direction: column;
  margin: 0 auto;
}

span {
  font-weight: 600;
}