body {
    font-family: Arial, sans-serif;
}

.popup {
    
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px #0B2E1C;
}

.popup-content {
    background-color: #00712D;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
}

button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #C18A2B;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #ffc300;
}
