@import url("../base.css");

.main-div {
 display: flex;
 flex-direction: column;
}
.page1,
.page2,
.page3 {
  width: 100vw;
  height: 100vh;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
}
.logo img {
  width: 150px;
  margin-top: 10vh;
}
#password {
  margin-top: 10vh;
  width: 60vw;
  height: 6vh;
  font-size: 1.2rem;
  padding: 0vh 4vw;
  font-weight: bolder;
}
.button {
  margin-top: 5vh;
  width: 25vw;
  height: 4vh;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 4px;
}
.info-logo {
  display: flex;
  width: 100vw;
}
.name-balance {
  flex: 4;
}
.name,
.balance {
  width: 50vw;
  height: 5vh;
  margin-left: 2vw;
}
.name {
  margin: 3vh 0vw;
  margin-left: 2vw
}
.page2-logo {
  flex: 1;
}
.page2-logo {
  margin-top: -9vh;
  margin-right: 2vw;
}



