<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <main class="bg-dark">
    <nav>
      <a href="">Artikli</a>
      <a href="">Korisnici</a>
      <a href="">Transakcije</a>
    </nav>

    <!-- UI COINTAINER -->
    <div class="ui-container">
      <div class="articles-container bg-accent">
        <div class="article-container">
          <div class="article-image-container"></div>
          <div class="article-name">Karamel makijato</div>
          <div class="article-price">230</div>
          <button class="remove-article bg-error">
            Obrisi
          </button>
        </div>
        <div class="article-container">
          <div class="article-image-container"></div>
          <div class="article-name">Espresso</div>
          <div class="article-price">130</div>
          <button class="remove-article bg-error">
            Obrisi
          </button>
        </div>
        <div class="article-container">
          <div class="article-image-container"></div>
          <div class="article-name">Makijato</div>
          <div class="article-price">150</div>
          <button class="remove-article bg-error">
            Obrisi
          </button>
        </div>
        <div class="article-container">
          <div class="article-image-container"></div>
          <div class="article-name">
            Coca cola
          </div>
          <div class="article-price">
            190
          </div>
          <button class="remove-article bg-error">
            OBRISI
          </button>
        </div>
        <div class="article-container">
          <div class="article-image-container"></div>
          <div class="article-name"></div>
          <div class="article-price"></div>
          <button class="remove-article"></button>
        </div>
        <div class="article-container">
          <div class="article-image-container"></div>
          <div class="article-name"></div>
          <div class="article-price"></div>
          <button class="remove-article"></button>
        </div>
        <div class="article-container">
          <div class="article-image-container"></div>
          <div class="article-name"></div>
          <div class="article-price"></div>
          <button class="remove-article"></button>
        </div>
        <div class="article-container">
          <div class="article-image-container"></div>
          <div class="article-name"></div>
          <div class="article-price"></div>
          <button class="remove-article"></button>
        </div>
      </div>
      <div class="actions-container">
        <button>Dodajte korinsika</button>
      </div>
    </div>
  </main>

  <!-- 404 -->
  <div class="404-container hidden" id="404">
    <h1>404</h1>
    <p>Artikli nisu pronadjeni</p>
  </div>
  <!-- 500 -->
  <div class="404-container hidden" id="500">
    <h1>500</h1>
    <p>Unutrasnja greska, kontaktirajte administratora</p>
  </div>
  <script src="app.js"></script>
</body>
</html>