@import url("../../base.css");

main {
  min-height: 100vh;
}

.ui-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.articles-container {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  min-height: 60vh;
}

.article-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.article-container > button {
  margin-inline: auto;
  margin-top: .5rem;
}

@media screen and (max-width: 800px) {
  .articles-container {
    grid-template-columns: 1fr;
  }
}