@import "../base.css";

.main-container {
  min-height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1rem;
  color: white;
}

/* LOGO IMAGE */
.user-info > img {
  max-width: 30vw;
}

.transactions {
  padding: 1rem .5rem;
  background-color: var(--clr-accent-muted);
  flex-grow: 1;
}

.transactions p:nth-child(3n + 2) {
  padding: 0 1rem;
  border-left: 3px solid var(--clr-bg-dark);
  border-right: 3px solid var(--clr-bg-dark);
}

.single-trans {
  display: flex;
  justify-content: space-around;
  color: white;
  font-weight: 400;
  border-bottom: 3px solid var(--clr-bg-dark);
}

.single-trans:nth-child(1) {
  font-weight: 600;
}

.single-trans p:nth-child(1) {
  flex: 4;
  overflow: auto;
  text-wrap: nowrap;
  scrollbar-width: none;
}

.single-trans p:nth-child(2) {
  flex: 1;
}

.single-trans p:nth-child(3) {
  flex: 2;
}

.single-trans p:nth-child(2),
.single-trans p:nth-child(3) {
  text-align: center;
}

.rules {
  background-color: var(--clr-accent-muted);
  color: var(--clr-bg-dark);
  aspect-ratio: 1/1;
  min-width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: 600;
  position:absolute;
  top: 1rem;
  right: 2rem;
}
