@import url("../base.css");

.main-div {
  width: 100vw;
  height: 100vh;
  background-color: #0B2E1C;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.logo-div{
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
}
.logo-div img {
  width: 150px;
}
.inputBg {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
  background-color: #C18A2B;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.username-div,
.balance-div,
.transactions-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1vh 0vw;
}
.transactions-div {
  height: 55vh;
}
.legend {
  color: #FFFFFF;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 1vh 0vw;
  font-size: 0.8rem;
}
.transactions {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  width: 90vw;
  height: 45vh;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#border {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3); 
}
.articles,
.coins,
.time,
.amount {
  display: flex;
  flex-direction: column;
  padding: 1vh 0vw;
  display: flex;
  width: 80%;
}
#border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.5vh 0vw;
  font-size: 0.7rem;
}
.username,
.balance {
  background-color: #B08C3D;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3); 
  border: 1px solid rgba(107, 79, 20, 0.3);
  border-radius: 5px;
  height: 4vh;
  font-size: 1rem;
  width: 50vw;
  outline: none;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.username p,
.balance p {
  font-size: 0.8rem;
}
.articles {
  position: relative;
}
.articles-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.ellipsis {
  cursor: pointer;
}
.more-info {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #d4ad6b;
  padding: 1vh 1vw;
  width: auto;
  z-index: 1;
  white-space: normal;
}
.ellipsis:hover + .more-info {
  display: block;
}


/* 404 */